.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
}

.profile-image {
  width: 15%;
}

.arrow-card {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-button {
  width: 35px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.lef-arrow {
  width: 100%;
  height: 100%;
}

.user-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
}

.right-button {
  width: 35px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.right-arrow {
  width: 100%;
  height: 100%;
}

.company-name {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
}

.description {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

@media (max-width: 767px) {
  .review-heading {
    font-size: 30px;
  }

  .arrow-card {
    width: 60%;
  }

  .user-name {
    font-size: 15px;
  }

  .company-name {
    font-size: 13px;
  }

  .description {
    font-size: 12px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .review-heading {
    font-size: 50px;
  }

  .user-name {
    font-size: 20px;
  }

  .company-name {
    font-size: 18px;
  }

  .description {
    font-size: 15px;
  }
}
